<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <clr-tabs>
        <clr-tab>
          <button clrTabLink (click)="get_tickets_pending()">Pendientes</button>
          <clr-tab-content *clrIfActive>
            <clr-datagrid>
              <clr-dg-column>Fecha</clr-dg-column>
              <clr-dg-column>Total</clr-dg-column>
              <clr-dg-column>Cliente</clr-dg-column>

              <clr-dg-row *ngFor="let ticket of tickets">
                <clr-dg-cell>{{ticket.date | date:'dd/MM/yyyy HH:mm'}}</clr-dg-cell>
                <clr-dg-cell>{{ticket.total | currency:'MXN':'symbol-narrow'}}</clr-dg-cell>
                <clr-dg-cell>{{ticket.client?.name}}</clr-dg-cell>

                <ticket-details *clrIfExpanded [ticket]="ticket" [client]="ticket.client" (invoiced)="invoice_ticket($event)" ngProjectAs="clr-dg-row-detail"></ticket-details>
              </clr-dg-row>

              <clr-dg-footer>{{tickets.length}} Tickets</clr-dg-footer>
            </clr-datagrid>
          </clr-tab-content>
        </clr-tab>

        <clr-tab>
          <button clrTabLink (click)="get_tickets_invoced()">Facturadas</button>
          <clr-tab-content *clrIfActive>
            <clr-datagrid>
              <clr-dg-column>Fecha</clr-dg-column>
              <clr-dg-column>Total</clr-dg-column>
              <clr-dg-column>Cliente</clr-dg-column>

              <clr-dg-row *ngFor="let ticket of tickets">
                <clr-dg-cell>{{ticket.date | date:'dd/MM/yyyy HH:mm'}}</clr-dg-cell>
                <clr-dg-cell>{{ticket.total | currency:'MXN':'symbol-narrow'}}</clr-dg-cell>
                <clr-dg-cell>{{ticket.client?.name}}</clr-dg-cell>

                <ticket-details *clrIfExpanded [ticket]="ticket" [client]="ticket.client" (invoiced)="invoice_ticket($event)" ngProjectAs="clr-dg-row-detail"></ticket-details>
              </clr-dg-row>

              <clr-dg-footer>{{tickets.length}} Tickets</clr-dg-footer>
            </clr-datagrid>
          </clr-tab-content>
        </clr-tab>
      </clr-tabs>


    </div>
  </div>


</div>
