<div class="card clickable card-block" routerLink="/dashboard/subsidiary/{{subsidiaryId}}/box/clients">
  <h3 class="card-title">Asignar ticket a cliente</h3>
</div>
<div class="card clickable card-block" routerLink="/dashboard/subsidiary/{{subsidiaryId}}/box/paints_berel">
  <h3 class="card-title">Pinturas</h3>
</div>
<div class="card clickable card-block" routerLink="/dashboard/subsidiary/{{subsidiaryId}}/box/products">
  <h3 class="card-title">Artículos</h3>
</div>
<div class="card clickable card-block" routerLink="/dashboard/subsidiary/{{subsidiaryId}}/box/tickets">
  <h3 class="card-title">Tickets</h3>
</div>
