<div class="container-fluid">
  <ul  class="nav" role="tablist" style="margin-bottom: 1em;">
    <li class="nav-item">
      <button routerLink="graph" routerLinkActive="active" class="btn btn-link nav-link" type="button">Gráfica</button>
    </li>
    <li class="nav-item">
      <button routerLink="sales" routerLinkActive="active" class="btn btn-link nav-link" type="button">Análisis de venta</button>
    </li>
    <li class="nav-item">
      <button routerLink="purchases" routerLinkActive="active" class="btn btn-link nav-link" type="button">Análisis de compra</button>
    </li>
  </ul>
  <router-outlet></router-outlet>

</div>
