<div [clrLoading]="loading" class="card" style="width: 95%;
margin-left: auto;
margin-right: auto;
padding: 1em;
margin-bottom: 1em;">
  <div *ngIf="ticket.paints.length > 0">
    <h4>Pinturas</h4>
    <table class="table table-noborder">
      <thead>
        <tr>
          <th>Línea</th>
          <th>Color</th>
          <th>Presentación</th>
          <th>Cantidad</th>
          <th>Precio</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let paint of ticket.paints">
          <td>{{paint.line}}</td>
          <td>{{paint.color}}</td>
          <td>{{paint.presentation}}</td>
          <td>{{paint.quantity}}</td>
          <td>{{paint.price | currency:'MXN':'symbol-narrow'}}</td>
        </tr>
        <tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="ticket.products.length > 0">
    <h4>Productos</h4>

    <table class="table table-noborder">
      <thead>
        <tr>
          <th>Número de artículo</th>
          <th>Marca</th>
          <th>Descripción</th>
          <th>Unidad</th>
          <th>Cantidad</th>
          <th>Precio</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of ticket.products">
          <td>{{product.product_id}}</td>
          <td>{{product.brand}}</td>
          <td>{{product.description}}</td>
          <td>{{product.unit}}</td>
          <td>{{product.quantity}}</td>
          <td>{{product.price | currency:'MXN':'symbol-narrow'}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div style="padding: 0 2em;">
    <h4>Pagos</h4>

    <span *ngIf="ticket.discount?.quantity > 0">
      <b>Descuento por:</b> {{ticket.discount.quantity | currency:'MXN':'symbol-narrow'}}
    </span>

    <div *ngIf="ticket.cash_pays?.length > 0">
      <label>
        <b>Pagos en efectivo</b>
      </label>
      <div *ngFor="let pay of ticket.cash_pays">
        Efectivo
        <span style="float:right;">{{pay.amount | currency:'MXN':'symbol-narrow'}}</span>
      </div>
      <br>
    </div>

    <div *ngIf="ticket.card_pays?.length > 0">
      <label>
        <b>Pagos con tarjeta</b>
      </label>
      <div *ngFor="let pay of ticket.card_pays">
        {{pay.card?.terminal}}, {{pay.card?.type == 'Credit' ? 'Crédito' : 'Debito'}}

        <span style="float:right;">{{pay.amount | currency:'MXN':'symbol-narrow'}}</span>
      </div>
      <br>
    </div>
    <div>
      Total
      <span style="float:right;">{{ticket.total | currency:'MXN':'symbol-narrow'}}</span>
    </div>
  </div>

  <div *ngIf="ticket.invoice.state == 'pending'">
    <h4>Factura pendiente</h4>

    <p>
      <b>Datos de facturación:</b> <br>
      <b>Nombre:</b> {{client.name}} <br>
      <b>Dirección:</b> {{client.address}} <br>
      <b>Codigo postal:</b> {{client.postal_code}} <br>
      <b>RFC:</b> {{client.rfc}} <br>
      <b>Email: </b> {{client.email}}
    </p>

    <button class="btn btn-primary" style="right: 0;
    position: absolute;
    bottom: 1em;" (click)="invoice(ticket)">Marcar como facturado</button>
  </div>
</div>
