<div class="main-container">
  <header class="header-6" style="background-color: darkslategray;">
    <div class="branding">
      <a class="nav-link">
        <img src="./assets/images/logo2.png" style="width: 130px;">
      </a>
    </div>
    <div class="header-nav">
      <a routerLink="/dashboard/subsidiaries" routerLinkActive="active" class=" nav-link nav-text" *ngIf="role === 'User'">Sucursales</a>
      <a routerLink="/dashboard/subsidiary/{{user.subsidiary}}" routerLinkActive="active" class=" nav-link nav-text" *ngIf="role === 'Manager' || role === 'Sales'">Sucursal</a>
      <a routerLink="/dashboard/paints" routerLinkActive="active" class=" nav-link nav-text" *ngIf="role === 'User' || role === 'Manager'">Pinturas</a>
      <a routerLink="/dashboard/clients" routerLinkActive="active" class=" nav-link nav-text" *ngIf="role === 'User' || role === 'Manager'">Clientes</a>
      <a routerLink="/dashboard/cards" routerLinkActive="active" class=" nav-link nav-text" *ngIf="role === 'User' || role === 'Manager'">Tarjetas</a>
      <a routerLink="/dashboard/providers" routerLinkActive="active" class=" nav-link nav-text" *ngIf="role === 'User' || role === 'Manager'">Proveedores</a>
    </div>
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-text" clrDropdownTrigger>
          {{user.email}}
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <!-- <a clrDropdownItem>Preferencias</a> -->
          <a (click)="logOut()" clrDropdownItem>Cerrar sesión</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </header>

  <router-outlet></router-outlet>

</div>

<!--  #C00C1C -->
