<div class="content-area">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <table class="table">
          <thead>
            <tr>
              <th>Línea</th>
            </tr>
          </thead>
          <tbody>
            <tr class="line" *ngFor="let line of lines" [ngClass]="{'line-selected': line_selected._id == line._id}" (click)="selectLine(line)"
              style="cursor: pointer;">
              <td>{{line.name}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-10">

        <!-- Info para seleccionar una línea -->
        <div class="alert alert-info" *ngIf="!line_selected._id" style="margin-top: 2em;">
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
              </div>
              <span class="alert-text">Selecciona una línea para ver sus rangos de precios.</span>
            </div>
          </div>
        </div>

        <!-- Info línea sin rangos-->
        <div class="alert alert-info" *ngIf="line_selected._id && subsidiary_ranges.length == 0" style="margin-top: 2em;">
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
              </div>
              <span class="alert-text">Esta línea aún no tiene rangos creados por la administración.</span>
            </div>
          </div>
        </div>

        <table class="table" *ngIf="line_selected._id && subsidiary_ranges.length > 0">
          <thead>
            <tr>
              <th>Rango</th>
              <th colspan="2">Litro</th>
              <th colspan="2">Galón</th>
              <th colspan="2">Cubeta</th>
              <th></th>
            </tr>
            <tr>
              <th></th>
              <th>Sugerido</th>
              <th>Venta</th>
              <th>Sugerido</th>
              <th>Venta</th>
              <th>Sugerido</th>
              <th>Venta</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of subsidiary_ranges">
              <td>{{item.range?.range}}</td>
              <td>{{item.range?.liter | currency:'MXN':'symbol-narrow'}}</td>
              <td>{{item.sr?.liter | currency:'MXN':'symbol-narrow'}}</td>

              <td>{{item.range?.gallon | currency:'MXN':'symbol-narrow'}}</td>
              <td>{{item.sr?.gallon | currency:'MXN':'symbol-narrow'}}</td>

              <td>{{item.range?.bucket | currency:'MXN':'symbol-narrow'}}</td>
              <td>{{item.sr?.bucket | currency:'MXN':'symbol-narrow'}}</td>

              <td>
                <button (click)="srShowModal(item)" type="button" class="btn btn-icon">
                  <clr-icon shape="pencil"></clr-icon>
                </button>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<clr-modal [(clrModalOpen)]="sr_form" [clrModalSize]="'lg'">
  <h3 class="modal-title">Cambiar precios de venta</h3>
  <div class="modal-body">
    <form *ngIf="item_selected">
      <section class="form-block">
        <div class="form-group">
          <label>{{'1L ' + '[' + (item_selected.range.liter | currency:'MXN':'symbol-narrow') + ']'}}</label>
          <input type="number" name="liter" [(ngModel)]="item_selected.sr.liter" placeholder="Cambiar precio de venta" style="width: 70%;">
        </div>
        <div class="form-group">
          <label>{{'4L ' + '[' + (item_selected.range.gallon | currency:'MXN':'symbol-narrow') + ']'}}</label>
          <input type="number" name="gallon" [(ngModel)]="item_selected.sr.gallon" placeholder="Cambiar precio de venta" style="width: 70%;">
        </div>
        <div class="form-group">
          <label>{{'19L ' + '[' + (item_selected.range.bucket | currency:'MXN':'symbol-narrow') + ']'}}</label>
          <input type="number" name="bucket" [(ngModel)]="item_selected.sr.bucket" placeholder="Cambiar precio de venta" style="width: 70%;">
        </div>
      </section>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="sr_form = false">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="srSave()">Guardar</button>
  </div>
</clr-modal>


<style>
  .line-selected {
    background-color: rgba(198, 198, 198, 0.6);
  }

  .line:hover {
    background-color: rgba(198, 198, 198, 0.3);
  }

</style>
