<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <clr-datagrid>
        <clr-dg-column>User ID</clr-dg-column>
        <clr-dg-column>Nombre</clr-dg-column>
        <clr-dg-column>Fecha de creación</clr-dg-column>
        <clr-dg-column>Email</clr-dg-column>
        <clr-dg-column>Estado</clr-dg-column>

        <clr-dg-row>
            <clr-dg-cell>54545</clr-dg-cell>
            <clr-dg-cell>Gerson Flores acuña</clr-dg-cell>
            <clr-dg-cell>27/04/2017</clr-dg-cell>
            <clr-dg-cell>gerson71fa@hotmail.com</clr-dg-cell>
            <clr-dg-cell>Puebla</clr-dg-cell>
        </clr-dg-row>

    </clr-datagrid>
    </div>
  </div>
</div>
